<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container">
        <div class="box">
                    <button type="button" class="btn btn-link btn-lg"  name="button" onclick="buttonAction()" >CLIQUE PARA GERAR SENHA</button>

        </div>

    </div>

</body>
<style>
.container {
    width: 100vw;
    height: 100vh;
    background: #87cefa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
}
</style>

<script>
    const name = document.querySelector(".btn");
    let click = 0;

    function generatePassword() {
          var chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJLMNOPQRSTUVWXYZ!@#$%^&*()+?><:{}[]";
          var passwordLength = 16;
          var password = "";

          for (var i = 0; i < passwordLength; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            password += chars.substring(randomNumber, randomNumber + 1);
          }

          return password;
          }
    let passwordList= [];
    let validPasswordDayTime = 1;
    let firstClickTime = Date.now();
    let getCurrentTime = Date.now();
    let oneDay = 1000*60*60*24;

    function buttonAction(){
        click = click + 1;
        getCurrentTime = Date.now();
        if (click ==1){
            let firstClickTime = Date.now();
        }
        var jan = window.open();

        if (click<=2 && (getCurrentTime-firstClickTime)/oneDay <= validPasswordDayTime ){
            passwordList [click] = generatePassword();
            jan.document.write(`<h2>A senha é: ${passwordList[1]}</h2>`);

        } else {
            click = 1;
             if (click ==1){
                let firstClickTime = Date.now();
             }
            passwordList= [];
            passwordList [click] = generatePassword();
            jan.document.write(`<h2>A senha é: ${passwordList[1]}</h2>`);


        }
       }
</script>
